.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-bottom: 1.5rem;
  line-height: 1.15;
  font-size: 3rem;
  text-decoration: underline solid #25D366;
}

.title,
.description,
.sub_description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.25;
  font-size: 1.25rem;
}

.sub_description {
  margin-bottom: 4rem;
  line-height: 1.25;
  font-size: 1rem;
  color: #666;
  width: 65%;
}

.phone_input {
  padding: 1rem;
  margin: 1rem;
  background-color: #f1fcf5;
  border: 0px;
  border-bottom: 2px solid #7cc596;
  border-radius: 6px;
  width: 35%;
  height: 55px;
  font-size: 1rem;
  box-shadow: 4px 4px 12px 1px rgb(0 0 0 / 10%);
}

.phone_input:focus, .phone_input:active, .phone_input:focus-visible {
  background-color: #f8fffa;
  /* border: 0; */
  border-bottom: 2px solid #4aac6d;
  outline: none;
}

.chat_btn {
  margin-top: 2rem;
  background: #25D366;
  color: #fff;
  width: 35%;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #0e9f44;
  box-shadow: 4px 4px 12px 1px rgb(0 0 0 / 20%);
}

@media (max-width: 600px) {
  .sub_description {
    width: 99%;
  }
  .phone_input {
    width: 90%;
  }
  .chat_btn {
    width: 90%;
  }
}
